body {
  background-color: #000605;
  color: #b7d7bd;
}

.title {
  font-family: 'Segoe UI';
  font-size: 25px;
}

.nodes {
  /* background-color: black; */
  padding: 2px;
}

.nodes .stats {
  margin: 5px 0px;
  padding: 2px;
  background-color: #000400;
  color: #24871d;
  width: fit-content;
  display: grid;
  grid-gap: 2px;
  font-family: Tahoma;
  /* font-size: 20px; */
}

.nodes .stats .row {
  display: contents;
}

.nodes .stats .row>* {
  background-color: black;
  padding: 2px;
}

.nodes .stats .row.header :nth-child(8) {
  max-width: min-content;
}

.nodes .stats .row.header :nth-child(9) {
  max-width: min-content;
}

.nodes .stats .row.header :nth-child(11) {
  max-width: min-content;
}

.nodes .stats .row :nth-child(5) {
  text-align: right;
}

.nodes .stats .row :nth-child(7) {
  text-align: right;
}

.nodes .stats .row :nth-child(8) {
  text-align: right;
}

.nodes .stats .row :nth-child(9) {
  text-align: right;
}

.nodes .stats .row :nth-child(10) {
  text-align: right;
}

.nodes .stats .row :nth-child(11) {
  text-align: right;
}

.nodes .stats .row :nth-child(12) {
  text-align: right;
}

.snip {
  margin: 5px 0px;
  padding: 10px;
  padding-right: 25px;
  background-color: black;
  color: #207719;
  width: fit-content;
}

.installnotes .code.snip {
  margin: 5px 0px;
  padding: 10px;
  padding-right: 25px;
  background-color: black;
  color: #c19a30;
  width: fit-content;
}